[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.2.4"
pysmb = "==1.2.6"
splunk-handler = "==2.2.2"
ipykernel = "==5.5.3"
pyspark = "==2.4"

[dev-packages]

[requires]
python_version = "3.7"
